

@model mvc.Models.ActivitySchedule

@{
  
    Layout = null;
}

<div class="modal-dialog" id="pnl-mdlActivity" style="width:100%">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmc" }))
    {
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="refreshforclosebutton()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Perform Activity</h4>
            </div>

            <div class="modal-body">

                <div class="form-group">
                    <label for="stage"> ID:@Model.CandID   Name : @Model.ActivityName</label>
                </div>
                <div class="form-group">
                    <label for="stage">Activity @Model.ActivityName </label>
                    @Html.HiddenFor(model => model.StageID, new { @id = "StageID" })
                    @Html.HiddenFor(model => model.CandID, new { @id = "CandID" })
                    @Html.HiddenFor(model => model.ReqID, new { @id = "ReqID" })
                    @Html.HiddenFor(model => model.ActivityID, new { @id = "ActivityID" })
                </div>
                <div class="col-md-6" style="padding-right: 0px;padding-left: 0px;">
                    <div class="form-group">
                        <label for="stagedate">Date</label>
                        @Html.TextBoxFor(model => model.ActivityDate, new { type = "date", @class = "form-control text" })
                    </div>
                </div>
                <div class="col-md-6" style="padding-right: 0px;">
                    <div class="form-group">
                        <label for="stagetime">Time</label>
                        @Html.TextBoxFor(model => model.ActivityTime,
                            new { type = "time", @class = "form-control text", @id = "ActivityTime" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="stagecomment">Comment</label>
                    @Html.TextBoxFor(a => a.Remark, new { @class = "form-control text", placeholder = "Comment", title = "Comment", @id = "Remark" })
                    <div class="text-danger" id="Remark_error_msg"></div>
                </div>

                <div class="form-group">
                    <label for="stagenotify">People to notify</label>
                    <select id="stagenotify" class="form-control text">
                        <option>Candidate</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" id="chkmail">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Mail
                        </label>
                    </div>

                    <select id="msgTemplate" class="form-control">
                        <option value="0">Select template</option>
                        <option value="1">Call letter</option>
                        <option value="2">Teliphonic Interview Schedule</option>
                        <option value="3">Candidate Shortlisted</option>
                    </select>

                </div>
                <div class="form-group">
                    <div id="mailBlock" class="tab-pane m-t m-r m-l" style="display:none;">
                        <div id="pnl-mailTemplateData">
                            <div id="mailTemplateData">

                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" id="sendmail">Send Mail</button>
                        <button type="button" class="btn btn-default" id="BtnCloseMail">Cancel</button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">

                <button type="button" id="btnsave" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" onclick="refreshforclosebutton()" data-dismiss="modal">Close</button>
            </div>
        </div>
    }

</div>


<script type="text/javascript">

    var str = window.location.href;
    var lastLetter = str[str.length], i, temp;
    var con = "";

    for (i = 0; i < str.length; i++) {
        if (str[i] == '=') {
            myfun(i);
            break;
        }
    }

    function myfun(temp) {

        temp = temp + 1;
        for (i = temp; i < [str.length]; i++) {

            con = con + str[i];
        }
        parseInt(con);

    }


</script>

<script>

    $(document).ready(function () {

        $('#BtnCloseMail').on('click', function (e) {
            $('#mailBlock').hide();
            $("#chkmail").prop('checked', false);
        });
        $('#btnsave').on('click', function (e) {

            var error = 0;
            if ($('#Remark').val() == '') {
                error = 1;
                $('#Remark_error_msg').html("The Remark field is required.");
                $('#Remark_error_msg').show();
            }
            else {
                $('#Remark_error_msg').hide();
            }
    
            var ActivityDate = $("#ActivityDate").val();
            if (error) {
                return false;
            } else {

                $.ajax({
                    type: "POST",
                    cache: false,
                    url: "/Placement/ScheduleActivity",
                    data: {
                        "ActivityID": $("#ActivityID").val(),
                        "StageID": $("#StageID").val(),
                        "Remark": $("#Remark").val(),
                        "ReqID": $("#ReqID").val(),
                        "CandID": $("#CandID").val(),
                        "StatusID": $("#StatusID").val(),
                        "ActivityDate": $("#ActivityDate").val(),
                        "ActivityTime": $("#ActivityTime").val()
                    },
                    success: function (result) {

                        //  $("#pnl-mdlActivity").html(result);

                        toastr.success("Data saved successfully.");
                        $('#mdlActivity .close').click();
                        refresh();


                         refresh();
                       if (result.Success) {

                        }
                    },
                    error: function (errorData) {
                        refresh();
                        $('#mdlActivity .close').click();
                        toastr.success("Data saved successfully.");

                    }
                });
            }
            return true;
        });

        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-top-right",
            "onclick": null,
            "showDuration": "0",
            "hideDuration": "0",
            "timeOut": "0",
            "showMethod": "fadeIn"
        };

        $.ajax({
            url: "@Url.Action("GetTemplateData", "Placement")",
            data: {
                "CandID": $("#CandID").val(),
                "templateid": $('#msgTemplate').val(),

            },
            success: function (data) {
                $('#mailTemplateData').html(data);
            }
        });

        $('#sendmail').on('click', function (e) {

            var candid = $("#CandID").val();
            $.ajax({
                type: "POST",
                cache: false,
                url: "/Placement/sendmail",
                data: {
                    "candID": candid,
                    "Description": JSON.stringify($("#mailDescription").val())
                },
                success: function (result) {
                    toastr.success("mail sent successfully.");
                    if (result.Success) {
                    }
                },
                error: function (errorData) {
                }
            });
        });

        $('#chkmail').on('click', function (e) {
            if ($("#chkmail").prop('checked') == true) {
                $('#mailBlock').show();
            }
            else
            {
                $('#mailBlock').hide();
            }

        });
        $('#Editmail').on('click', function (e) {

            $('#content').hide();
            $('#maildescriptionDiv').show();
            $('#tblHistory').show();
        });
        $('#Previewmail').on('click', function (e) {
            $('#content').show();
            $('#maildescriptionDiv').hide();
            $('#tblHistory').hide();
        });
        $('#msgTemplate').change(function (e) {
            e.stopImmediatePropagation();
            e.preventDefault();

                var cid = $("#CandID").val();
                var ActivityDate = $('#ActivityDate').val()
                var ActivityTime = $('#ActivityTime').val()
                $.ajax({
                    url: "@Url.Action("GetTemplateData", "Placement")",
                    data: {
                        "candID": cid,
                        "templateid": $('#msgTemplate').val(),
                        "ActivityDate": ActivityDate,
                        "ActivityTime": ActivityTime
                    },
                    success: function (data) {
                        debugger;
                        $('#mailTemplateData').html(data);
                        var ActivityDate = $('#ActivityDate').val()
                        var ActivityTime = $('#ActivityTime').val()
                    }
                });
        });
    });


    function refresh() {
       // refreshjs();

                  $.ajax({
                    url: "@Url.Action("LoadData", "Placement")",
                    contentType: "application/json",
                      data: JSON.stringify({ 
                        page: con, 
                          PageRowNumber: $('#Status').val(),
                          Name: $('#txtName').val(),
                          DName: $('#txtDesignation').val(),
                          CName: $('#txtClient').val(),
                          Eid: $('#txtEmail').val(),
                          Mob: $('#txtMobile').val(),
                          Stage: $('#txtStage').val(),
                          Date: $('#txtDate').val(),
                          Activity: $('#txtActivity').val()

                        }),
                    dataType: "text",
                    type: "POST",
                    async: true,
                    success: function (data) {
                        $('#grid1').html(data);
                        $('.modal-backdrop').remove();


                    },
                    error: function (data) {
                       $('.modal-backdrop').remove();

                    },
                    complete: function () {
                     $('.modal-backdrop').remove();


                    }

        });
        return true;

    }


    function refreshforclosebutton() {
      //  refreshjs();
               $.ajax({
                    url: "@Url.Action("LoadData", "Placement")",
                    contentType: "application/json",
                   data: JSON.stringify({
                       page: con,
                       PageRowNumber: $('#Status').val(),
                       Name: $('#txtName').val(),
                       DName: $('#txtDesignation').val(),
                       CName: $('#txtClient').val(),
                       Eid: $('#txtEmail').val(),
                       Mob: $('#txtMobile').val(),
                       Stage: $('#txtStage').val(),
                       Date: $('#txtDate').val(),
                       Activity: $('#txtActivity').val()
                   }),
                    dataType: "text",
                    type: "POST",
                    async: true,
                    success: function (data) {
                        $('#grid1').html(data);
                        $("#mdlActivity .close").click();
                        $('.modal-backdrop').remove();



                    },
                    error: function (data) {
                        $("#mdlActivity .close").click();
                        $('.modal-backdrop').remove();


                    },
                    complete: function () {
                        $("#mdlActivity .close").click();
                        $('.modal-backdrop').remove();

                    }

               });
        return true;

  }



</script>



